# Plugins instalados (Packer)
plugin/
.local/share/nvim/

# Packer compiled
plugin/packer_compiled.lua

# Caché y estado
.cache/
.state/

# Logs
*.log

# Backup files
*.backup

# AppImages y binarios
*.appimage

